*.xml
*.class
*.iml
*.kotlin_module
.DS_Store
img/xcf_nogit/*
*.xcf
save/*
res/
out/
.idea/
*.pyc
py/venv/
test/
map/
map_elites_*
llm_bridge/.env
llm_bridge/.venv/
llm_bridge/bridge.log
_to_delete/
out/

llm_bridge/.env
llm_bridge/.venv/
llm_bridge/bridge.log
_to_delete/
out/
